{% extends "base.html" %}

{% load static %}


<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% block content %}
    <div class="section-container">
        <div class="intro-section">
            <img class="portrait-intro-image" src="../static/images/ja.jpg" />
            <div class="intro-section-content-column">
                <div class="intro-section-content-column-wrapper">
                    <p class="intro-portrait-title-text">FOTOGRAFIA <br/>PORTRETOWA</p>
                    <button class="intro-section-offer-btn">ZAREZERWUJ</button>
                </div>
            </div>
        </div>
        <div class="images-section">
          <img class="my-image" src="../static/images/ja.jpg" />
          <img class="my-image" src="../static/images/Karolina.jpg" />
          <img class="my-image" src="../static/images/Zuza.jpg" />
          <img class="my-image" src="../static/images/Karolina.jpg" />
          <img class="my-image" src="../static/images/Karolina-6.jpg"  />
          <img class="my-image" src="../static/images/ja.jpg" />
          <img class="my-image" src="../static/images/Zuza.jpg" />
          <img class="my-image" src="../static/images/Karolina.jpg" />
      </div>
    </div>
{% endblock %}